.maintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #321d03;
}
.heading1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #915508;
}
.browntext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #915508;
}
.lightbrown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff2cd;
}
.linkmain1:link	{
	color: #915508;
	text-decoration: underline;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;

}
.linkmain1:visited	{
	color: #915508;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;

}
.linkmain1:hover	{
	color:  #321d03;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	
}

.linkmain2:link	{
	color: #321d03;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.linkmain2:visited	{
	color: #321d03;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;

}
.linkmain2:hover	{
	color: #915508;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;

}

